* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", serif;
    box-sizing: border-box;
}

body {
    background-image: url("../../images/hero/freewheelers-hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

.heading {
    font-family: "Nunito", sans-serif;
}

.main {
    padding: 20px 0 2% 0;
    min-height: 450px;
    background-color: white;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}

.width-restrictor {
    width: 980px;
}

/****************************************/
/* TYPE SCALING */
/****************************************/

.x-large {
    font-size: 28px;
}

.large {
    font-size: 19px;
}

.largeish {
    font-size: 16px;
}

.normal {
    font-size: 14px;
}

.smallish {
    font-size: 12px;
}

.small {
    font-size: 10px;
}

.x-small {
    font-size: 7px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/****************************************/
/* GRID SYSTEM */
/****************************************/

.row {
    display: flex;
}

.col-* {
    display: flex;
}

.col-1 {
     width: 8.33%;
 }

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

.right {
    text-align: right;
}

/* MISC */

nav {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px #fff;
}

.brand {
    width: 50%;
    margin-bottom: 0%;
    display: inline-block;
}

#brand-name {
    margin-left: 2%;
    margin-right: 1%;
}

#brand-logo {
    margin-bottom: 10px;
}

.nav {
    display: inline-block;
    float: right;
}

.nav li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    font-family: inherit;
}

.navbar {
    padding-top: 5px;
    margin-bottom: 135px;
}

.header-link {
    border: none;
    font-weight: bold;
    font-family: inherit;
}

.header-link:hover {
    border-bottom: 3px solid #0586EA;
}

#welcome {
    color: #0586EA;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.nav a:active {
    border-bottom: 3px solid #0586EA;
}

.navbar-text {
    color: lightskyblue;
}

.page-action {
    background-color: #EE9654;
    font-size: 16pt;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
}

.error {
    background-color: #F56E6E;
}

.cart.controls {
    display: inline-block;
    margin-bottom: 10px;
}

table th {
    text-align: left;
}

table {
    border-spacing: 8px;
    border-collapse: separate;
    align-content: center;
    width: 100%;
}

.padded-col {
    padding: 20px 10px;
}

.footer {
    margin: 15px 1%;
    color: white;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none;
}
