#manage-items-table {
    table-layout: fixed;
    width: 100%;
}

#manage-items-table tbody tr td input {
    overflow: hidden;
}

#manage-items-table tbody tr td input{
    width: 100%;
}

#add_item div:not(.page-action) {
    margin-bottom: 10px;
}

#add_item .controls {
    margin: 0;
}

#add_item div label {
    margin: 2px 0;
}

#add_item button, #update_item button {
    margin-top: 10px;
    margin-bottom: 10px;
}