@import url("survey-form.css");
@import url("survey-report.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

body {
    padding: 20px;
}

.brand {
    display: inline-block;
    font-size: 14pt;
}

.nav {
    display: inline-block;
    float: right;
}

.nav li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 10px;
}

.navbar {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: gray;
}

.header-link {
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.navbar-text {
    color: lightskyblue;
}

.page-action {
    background-color: lightskyblue;
    font-size: 16pt;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    background-color: indianred;
}

form label {
    display: inline-block;
    width: 10em;
}

.controls {
    display: inline-block;
    margin-bottom: 10px;
}

form input[type=text], [type=password] {
    padding: 4px;
    /*width: 14em;*/
    font-size: 12pt;
}

select {
    border: 1px solid gray;
    padding: 2px;
    font-size: 12pt;
}

button {
    font-size: 12pt;
    padding: 5px;
    background-color: lightgray;
    border-radius: 4px;
}

table th {
    /*width: 100vw;*/
    /*width: auto;*/
    text-align: left;

}

table {
    border-spacing: 8px;
    border-collapse: separate;
    align-content: center;
    width: 100%;
}

.table #name{
    /*border: 1px solid red;*/
    width: 26vw;
}
.table .price{
    width: 7vw;
}

.table #description{
    width: 25vw;
}

.table #type{
    width: 9vw;
}

.table .quantity{
    width: 5vw;
}

.checkout-button {
    width: 120px;
}

.manage-items {
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
}

.text-error {
    color: indianred;
}

#shippingAddress_form .text-error,
#add_item .text-error,
#login-error-message,
#update_item .text-error,
#register_form .text-error,
#credit_card_form .text-error {
    display: none;
}

.mandatory {
    color: indianred;
}

#added-to-cart {
    background-color: #66CC44;
}

#out-of-stock {
    background-color: #880000;
}

#empty-cart {
    background-color: #ffffff;
    color: #880000;
    text-align: center;
}

#empty-cart img {
    margin-top: 50px;
    position: relative;
    width: 30%;
}

.items-table {
    margin-bottom: 30px;
}

#shopping-actions button {
    margin: 0px 5px;
}

#cart-header-image {
    height: 12px;
    margin-right: 3px;
}

#tax {
    display: flex;
    flex-direction: row-reverse;
    width: 64%;
    align-content: flex-end;
}

#shopping-actions {
    display: flex;
    flex-direction: row;

}

#shopping-actions form:first-of-type {
    float: left;
    margin: auto;
}
#shopping-actions form:last-of-type {
    float: right;
    margin: auto;
}