.summary {
    border-style: solid;
    position: relative;
    align: center;
    width: 50%;
    margin: 20px 0;
    display: block;
    padding: 0;
}

.cardEntry {
    margin-top: 3%;
    display: block;
}

#credit_card_form .text-error{
    display: none;
}

#details {
    margin-bottom: 1%;
}

#submit {
    margin-top: 1%;
    display: inline-block;
}

#cancel {
    display: inline-block;
}

.cardEntry form div {
     margin: 0 0 10px 0;
 }

#credit_card_form label{
    margin: 2px 0;
}
