.summary {
    border-style: solid;
    position: relative;
    align: center;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.cardEntry {
    margin-top: 5%;
    display: block;
}

#credit_card_form .text-error{
    display: none;
}

#details {
    margin-bottom: 1%;
}

#submit {
    margin-top: 1%;
}