#shipping_address {
    margin-bottom: 50px;
}

.userProfile_Details {
    border-collapse: separate;
    border-spacing: 0px;
    width: 25vw;
    margin-bottom: 10px;
}

.userProfile_Details tr td{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}